server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: members-service
          uri: lb://members-service
          predicates:
            - Path=/api/members/**

        - id: trainers-service
          uri: lb://trainers-service
          predicates:
            - Path=/api/trainers/**

        - id: schedule-service
          uri: lb://schedule-service
          predicates:
            - Path=/api/schedule/**
          filters:
            - RewritePath=/api/schedule(?<segment>/?.*), /api/sessions${segment}

        - id: workout-plans-service
          uri: lb://workout-service
          predicates:
            - Path=/api/workout-plans/**,/api/workout-plans

        - id: report-service
          uri: lb://report-service
          predicates:
            - Path=/api/reports/**

        - id: notifications-service
          uri: lb://notifications-service
          predicates:
            - Path=/api/notifications/**

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/

management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info
