server:
  port: 8083

spring:
  application:
    name: schedule-service

  datasource:
    url: jdbc:postgresql://localhost:5434/schedule_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

---
spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://schedule_db:5432/schedule_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

---
spring:
  config:
    activate:
      on-profile: k8s

  datasource:
    url: jdbc:postgresql://schedule-db:5432/schedule_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
    hikari:
      initialization-fail-timeout: 0

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        missing-queues-fatal: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
